.Login {
    display: flex;
    flex-direction: column; /* 요소들을 세로로 정렬 */
    align-items: center; /* 가로 가운데 정렬 */
    justify-content: center; /* 세로 가운데 정렬 */
    height: 100vh; /* 화면 높이의 100% */
  }